#body {
  background-color: rgb(16, 16, 20);
}
#body2 {
  background-image: url("https://i.pinimg.com/originals/e2/fb/0b/e2fb0b2ac9b7e82275eacc8c2ee9c846.jpg");
}
#mainHeader {
  color: turquoise;
  text-align: center;
}
#imageHeader {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#portal-image {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div {
  transition: 500ms;
}
#char-list {
  color: turquoise;
  background-color: black;
  height: 200px;
  width: 18%;
  overflow: hidden;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: turquoise;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(133, 223, 31);
  border-radius: 20px;
  border: 3px solid black;
}
#searchWrapper {
  display: block;
  text-align: center;
}
#searchBarForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.characterDiv {
  display: block;
  float: left;
  border-style: outset;
  border-width: 10px;
  border-color: turquoise;
  background-color: black;
  width: 400px;
  text-align: center;
}
.characterDiv h1 {
  color: turquoise;
  text-align: center;
}
.characterImage {
  width: 50%;
}
.characterDiv h4 {
  color: turquoise;
  text-align: center;
}
.clickableChar:hover {
  font-size: 105%;
  text-decoration: underline;
}
