#body {
  background-color: rgb(16, 16, 20);
}
#body2 {
  background-image: url("https://i.pinimg.com/originals/e2/fb/0b/e2fb0b2ac9b7e82275eacc8c2ee9c846.jpg");
  /* position: relative; */
}
#mainHeader {
  color: turquoise;
  text-align: center;
}
#imageHeader {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#portal-image {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#searchWrapper {
  display: block;
  text-align: center;
  background-color: turquoise;
  /* padding-left: 100px; */
  /* padding-right 100px; */
}
#searchHead {
  text-align: center;
  color: black;
  background-color: turquoise;
  /* width: 18%; */
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
#searchBarForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}
#searchBar {
  margin: 15px;
  width: 200px;
}
div {
  transition: 500ms;
}
#char-list-div {
  position: sticky;
  top: 10px;
  width: 332px;
}
#char-list,
#faves-list {
  color: turquoise;
  background-color: black;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  /* position: sticky;
  top: 0px; */
}
#char-list-div h3 {
  color: black;
  background-color: turquoise;
  height: auto;
  text-align: center;
  /* position: sticky;
  top: 0px; */
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: turquoise;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(133, 223, 31);
  border-radius: 20px;
  border: 3px solid black;
}
.clickableChar:hover {
  font-size: 105%;
  text-decoration: underline;
  cursor: pointer;
}
.favorite:hover {
  font-size: 105%;
  text-decoration: underline;
  cursor: pointer;
}
.characterDiv {
  display: block;
  /* float: left; */
  border-style: outset;
  border-width: 10px;
  border-color: turquoise;
  background-color: black;
  width: 333px;
  height: 772px;
  text-align: center;
  margin: 5px;
}
.episodes {
  height: 108px;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 0px;
}
.characterDiv h1 {
  color: turquoise;
  text-align: center;
}
.characterImage {
  width: 50%;
}
.characterDiv h4 {
  color: turquoise;
  text-align: center;
}
#bigCharactersDiv {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 333px;
  bottom: 570px;
  width: 75%;
  /* height: 100vh; */
}
.delete-bttn {
  position: relative;
  left: 154px;
}
#heart {
  width: 20px;
  display: block;
  text-align: center;
  position: relative;
  left: 275px;
  bottom: 18px;
}
.epiName {
  margin-top: 2px;
  margin-bottom: 1px;
  text-decoration: underline;
}
.epiInfo {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin-top: 0px;
}
.epiHead {
  margin-bottom: 5px;
}
