#body {
  background-color: rgb(16, 16, 20);
}
#body2 {
  background-image: url("https://i.pinimg.com/originals/e2/fb/0b/e2fb0b2ac9b7e82275eacc8c2ee9c846.jpg");
}
#mainHeader {
  color: turquoise;
  text-align: center;
}
#imageHeader {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#portal-image {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div {
  transition: 500ms;
}
#char-list,
#faves-list {
  color: turquoise;
  background-color: black;
  height: 200px;
  width: 18%;
  overflow: hidden;
  overflow-y: scroll;
}
#char-list-div h3 {
  color: black;
  background-color: turquoise;
  width: 22%;
  height: auto;
  text-align: center;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: turquoise;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(133, 223, 31);
  border-radius: 20px;
  border: 3px solid black;
}
.clickableChar:hover {
  font-size: 105%;
  text-decoration: underline;
  cursor: pointer;
}
.favorite:hover {
  font-size: 105%;
  text-decoration: underline;
  cursor: pointer;
}
#searchWrapper {
  display: block;
  text-align: center;
  background-color: turquoise;
}
#searchHead {
  text-align: center;
  color: black;
  background-color: turquoise;
  width: 18%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
#searchBarForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}
#searchBar {
  margin: 15px;
  width: 200px;
}
.characterDiv {
  display: block;
  float: left;
  border-style: outset;
  border-width: 10px;
  border-color: turquoise;
  background-color: black;
  width: 333px;
  text-align: center;
  margin: 5px;
}
.episodes {
  height: 108px;
  overflow: hidden;
  overflow-y: scroll;
}
.characterDiv h1 {
  color: turquoise;
  text-align: center;
}
.characterImage {
  width: 50%;
}
.characterDiv h4 {
  color: turquoise;
  text-align: center;
}
#bigCharactersDiv {
  position: absolute;
  left: 333px;
}
.delete-bttn {
  position: relative;
  left: 154px;
}
#heart {
  width: 20px;
  display: block;
  text-align: center;
  position: relative;
  left: 275px;
  bottom: 18px;
}
.epiName {
  margin-top: 2px;
  margin-bottom: 1px;
  text-decoration: underline;
}
.epiInfo {
  list-style: none;
  text-align: center;
  padding: 0px;
}
