body {
  background-color: rgb(16, 16, 20);
}
h1 {
  color: turquoise;
  text-align: center;
}
#imageHeader {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#portal-image {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div {
  transition: 500ms;
}
